/**
 * Typography colors
 */
.text-muted {
	color: #999;
}

.text-warning {
	color: #C09853;
}

.text-error {
	color: #B94A48;
}

.text-info {
	color: #3A87AD;
}

.text-success {
	color: #468847;
}

attr {
	border-color: #000;
}
